.image-gallery-slider {
    .slick-initialized.slick-slider {
        .slick-list {
            .slick-track {
                .gallery-slider {
                    height: 50rem;
                    padding-top: 5rem;
                    padding-bottom: 5rem;
                    img {
                        height: 100%;
                        // width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
        .slick-prev:before {
            color: #000;
        }
        .slick-next:before {
            color: #000;
        }
    }
}