.image-gallery-slider .slick-initialized.slick-slider .slick-list .slick-track .gallery-slider {
  height: 50rem;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .image-gallery-slider .slick-initialized.slick-slider .slick-list .slick-track .gallery-slider img {
    height: 100%;
    margin: 0 auto; }

.image-gallery-slider .slick-initialized.slick-slider .slick-prev:before {
  color: #000; }

.image-gallery-slider .slick-initialized.slick-slider .slick-next:before {
  color: #000; }
