.landing-container .landing-content .content.cover {
  position: relative;
  height: 100vh;
  background: no-repeat center 40%;
  background-image: url("../assets/images/alexsaerom-cover.png");
  background-size: cover;
  text-align: center; }
  .landing-container .landing-content .content.cover .cover-dim {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)); }
    .landing-container .landing-content .content.cover .cover-dim .title-group {
      padding-top: 15rem; }
      .landing-container .landing-content .content.cover .cover-dim .title-group .cover-subtitle {
        color: #FF745C;
        font-family: "Nanum Barun Pen";
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 1rem; }
      .landing-container .landing-content .content.cover .cover-dim .title-group .cover-maintitle {
        color: #fff;
        font-family: "Nanum Barun Pen";
        font-size: 8rem;
        font-weight: 600; }

.landing-container .landing-content .content.content-first {
  text-align: center; }
  .landing-container .landing-content .content.content-first .content-title {
    margin-top: 10rem;
    display: inline-block;
    padding-bottom: 0.5rem;
    color: #333;
    font-family: "Nanum Barun Pen";
    font-weight: 600;
    font-size: 4rem;
    border-bottom: 2px solid #333; }
  .landing-container .landing-content .content.content-first .content-slider {
    height: 80rem; }

.landing-container .landing-content .content.content-second {
  background-color: #fafafa; }
  .landing-container .landing-content .content.content-second .content-wrapper {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .landing-container .landing-content .content.content-second .content-wrapper .content-title {
      margin-top: 10rem;
      display: inline-block;
      padding-bottom: 0.5rem;
      color: #333;
      font-family: "Nanum Barun Pen";
      font-weight: 600;
      font-size: 4rem;
      border-bottom: 2px solid #333; }
    .landing-container .landing-content .content.content-second .content-wrapper .subcontent-separator {
      width: 30rem;
      margin: 0 auto;
      background-color: rgba(170, 170, 170, 0.5);
      height: 1px; }
    .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-first {
      padding-top: 10rem;
      padding-bottom: 20rem; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-first .subcontent-video {
        margin-bottom: 5rem; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-first .subcontent-title {
        font-family: "Nanum Pen Script";
        font-weight: 400;
        color: #FF745C;
        font-size: 4rem;
        margin-bottom: 2rem; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-first .subcontent-description {
        font-family: "Nanum Barun Pen";
        font-weight: 400;
        color: #333;
        font-size: 2rem; }
    .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-second {
      padding-top: 20rem;
      padding-bottom: 20rem; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-second .subcontent-left {
        width: 50%;
        display: inline-block;
        float: left; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-second .subcontent-left .text-group {
          width: 50%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 25rem; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-second .subcontent-left .text-group .subcontent-title {
            font-family: "Nanum Pen Script";
            font-weight: 400;
            color: #FF745C;
            font-size: 4rem;
            margin-bottom: 2rem;
            text-align: left; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-second .subcontent-left .text-group .subcontent-description {
            font-family: "Nanum Barun Pen";
            font-weight: 400;
            color: #333;
            font-size: 2rem;
            text-align: left; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-second .subcontent-right {
        width: 50%;
        display: inline-block; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-second .subcontent-right .subcontent-image {
          text-align: left; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-second .subcontent-right .subcontent-image img {
            width: 100%; }
    .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third {
      padding-top: 20rem;
      padding-bottom: 20rem; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-left {
        display: inline-block;
        width: 50%; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-left .subcontent-image {
          padding-right: 1rem; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-left .subcontent-image img {
            width: 100%; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-right {
        display: inline-block;
        width: 50%;
        vertical-align: top; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-right .subcontent-image {
          padding-left: 1rem; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-right .subcontent-image img {
            width: 100%; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-right .text-group {
          margin-top: 4rem;
          text-align: right; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-right .text-group .subcontent-title {
            font-family: "Nanum Pen Script";
            font-weight: 400;
            color: #FF745C;
            font-size: 4rem;
            margin-bottom: 2rem; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-third .subcontent-right .text-group .subcontent-description {
            font-family: "Nanum Barun Pen";
            font-weight: 400;
            color: #333;
            font-size: 2rem; }
    .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth {
      padding-top: 20rem;
      padding-bottom: 20rem; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row {
        padding-bottom: 1rem; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column {
          width: 50%;
          float: left; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column .text-group {
            padding-top: 14rem;
            padding-left: 1rem;
            text-align: center; }
            .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column .text-group .subcontent-title {
              font-family: "Nanum Pen Script";
              font-weight: 400;
              color: #FF745C;
              font-size: 4rem;
              margin-bottom: 2rem; }
            .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column .text-group .subcontent-description {
              font-family: "Nanum Barun Pen";
              font-weight: 400;
              color: #333;
              font-size: 2rem; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column {
          width: 50%;
          float: left; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column .subcontent-image img {
            width: 100%; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .clear {
          clear: both; }
      .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row {
        padding-top: 1rem; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column {
          width: 50%;
          float: left; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column .subcontent-image .img {
            width: 100%; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column .subcontent-image:first-child {
            padding-right: 1rem; }
          .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .subcontent-grid-column .subcontent-image:last-child {
            padding-left: 1rem; }
        .landing-container .landing-content .content.content-second .content-wrapper .subcontent.subcontent-fourth .subcontent-grid .subcontent-grid-row .clear {
          clear: both; }

.landing-container .landing-content .content.content-full.content-third {
  background-color: rgba(255, 120, 97, 0.66);
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .landing-container .landing-content .content.content-full.content-third .text-group {
    margin-bottom: 5rem; }
    .landing-container .landing-content .content.content-full.content-third .text-group .content-full-subtext {
      font-family: "Nanum Barun Pen";
      font-weight: 400;
      font-size: 3.5rem;
      color: #fff; }
    .landing-container .landing-content .content.content-full.content-third .text-group .content-full-maintext {
      font-family: "Nanum Barun Pen";
      font-weight: 600;
      font-size: 7rem;
      color: #fff; }
