@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.story-content-slider .slick-initialized.slick-slider .slick-list {
  height: 60rem; }
  .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-left {
    width: 50%;
    margin: 0 auto;
    float: left; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-left .content-image {
      width: 450px;
      margin-left: auto; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-left .content-image img {
        width: 450px; }
  .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-right {
    width: 50%;
    margin: 0 auto;
    float: left; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-right .text-group {
      margin-top: 18rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-right .text-group .title {
        font-family: "Nanum Barun Pen";
        font-size: 3rem;
        font-weight: 600;
        color: #FF745C; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-right .text-group .separator {
        height: 2px;
        background-color: #FF745C;
        width: 5rem;
        display: inline-block;
        margin-top: 1.5rem;
        margin-bottom: 2rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-right .text-group .description {
        font-family: "Nanum Barun Pen";
        font-size: 2rem;
        font-weight: 400;
        color: #333; }
        .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.first .content-right .text-group .description a {
          text-decoration: unset; }
  .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.second {
    text-align: center; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.second .content-image {
      width: 400px;
      margin: 0 auto; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.second .content-image img {
        width: 400px; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.second .text-group {
      margin-top: 3rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.second .text-group .title {
        font-family: "Nanum Barun Pen";
        font-size: 3rem;
        font-weight: 600;
        color: #FF745C; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.second .text-group .separator {
        height: 2px;
        background-color: #FF745C;
        width: 5rem;
        display: inline-block;
        margin-top: 1.5rem;
        margin-bottom: 2rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.second .text-group .description {
        font-family: "Nanum Barun Pen";
        font-size: 2rem;
        font-weight: 400;
        color: #333; }
  .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.third {
    text-align: center; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.third .content-image {
      width: 600px;
      margin: 0 auto; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.third .content-image img {
        width: 600px; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.third .text-group {
      margin-top: 3rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.third .text-group .title {
        font-family: "Nanum Barun Pen";
        font-size: 3rem;
        font-weight: 600;
        color: #FF745C; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.third .text-group .separator {
        height: 2px;
        background-color: #FF745C;
        width: 5rem;
        display: inline-block;
        margin-top: 1.5rem;
        margin-bottom: 2rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.third .text-group .description {
        font-family: "Nanum Barun Pen";
        font-size: 2rem;
        font-weight: 400;
        color: #333; }
  .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fourth .content-left {
    width: 50%;
    float: left; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fourth .content-left .content-image {
      width: 360px;
      margin-left: auto;
      margin-top: 10rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fourth .content-left .content-image img {
        width: 360px; }
  .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fourth .content-right {
    width: 50%;
    float: left; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fourth .content-right .text-group {
      margin-top: 20rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fourth .content-right .text-group .title {
        font-family: "Nanum Barun Pen";
        font-size: 3rem;
        font-weight: 600;
        color: #FF745C; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fourth .content-right .text-group .separator {
        height: 2px;
        background-color: #FF745C;
        width: 5rem;
        display: inline-block;
        margin-top: 1.5rem;
        margin-bottom: 2rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fourth .content-right .text-group .description {
        font-family: "Nanum Barun Pen";
        font-size: 2rem;
        font-weight: 400;
        color: #333; }
  .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fifth {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fifth .content-left {
      margin-right: 10rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fifth .content-left .content-image {
        width: 400px;
        margin-left: auto; }
        .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fifth .content-left .content-image img {
          width: 400px; }
    .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fifth .content-right {
      display: flex;
      align-items: center; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fifth .content-right .text-group .title {
        font-family: "Nanum Barun Pen";
        font-size: 3rem;
        font-weight: 600;
        color: #FF745C; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fifth .content-right .text-group .separator {
        height: 2px;
        background-color: #FF745C;
        width: 5rem;
        display: inline-block;
        margin-top: 1.5rem;
        margin-bottom: 2rem; }
      .story-content-slider .slick-initialized.slick-slider .slick-list .slick-track .slick-content.fifth .content-right .text-group .description {
        font-family: "Nanum Barun Pen";
        font-size: 2rem;
        font-weight: 400;
        color: #333; }

.story-content-slider .slick-initialized.slick-slider .slick-prev:before {
  color: #000; }

.story-content-slider .slick-initialized.slick-slider .slick-next:before {
  color: #000; }
